/* options.css */

body {
  padding: 0 4px;
}

fieldset {
  margin: 0;
#ifdef FIREFOX
  margin-top: 1.5rem;
#endif
#ifdef CHROME
  margin-top: -0.5rem;
#endif
}

div.levels-radio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  margin: 0.5rem 0 0.75rem;
}

div.main-only-checkbox {
  margin: 1.5rem 0;
}

div.save-button {
  margin: 1rem 0 1.5rem;
}
