/* menu.css */

div {
  --industrial-blue:  #1D58A7;
}

div[role='menu'] {
  padding: 1rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  scroll-behavior: smooth;
#ifdef CHROME
  width: max-content;
#endif
}
