/* menu.css */

ul {
  list-style: none;
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-size: 0.8rem;
  display: grid;
  row-gap: 5px;
}

ul li {
  padding: 0.5rem;
}

ul li:nth-child(odd) {
  background-color: #eee;
}
