/* menu.css */

div[role='menu'] {
  padding: 0.5rem 1rem;
  font-family: sans-serif;
  font-size: 0.9rem;
}

div[role='separator'] {
  padding: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

div[role='separator']:not(:first-child) {
  margin-top: 0.25rem;
}

div[role='group'] > div {
  padding: 6px;
}

div[role='group'] > div:nth-child(odd) {
  background-color: #eee;
}

div[role='group'] > div > a {
  color: inherit;
  display: block;
  text-decoration: none;
}

div[role='group'] > div > a:focus {
  outline: rgb(94, 158, 214) 2px solid;
  outline-offset: 4px;
}

div[role='group'] > div.landmark .role {
  text-transform: capitalize;
}

div[role='group'] > div.landmark .name::before {
  content: ': ';
}

div[role='group'] > div.heading > a {
  display: grid;
  grid-template-columns: 1fr 1.33rem;
  grid-column-gap: 4px;
}

div[role='group'] > div.heading.h1,
div[role='group'] > div.landmark.main {
  color: #fff;
  background-color: #0060df;
}

div[role='group'] > div.heading:not(.h1) .name {
  color: #999;
}
