/* options.css */

body {
  padding: 0 4px;
}

fieldset {
  margin-top: 1rem;
  margin-left: 0;
}

div.main-only-checkbox {
  margin: 1rem 0;
}

div.levels-radio {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  margin: 0.375rem 0;
}

div.save-button {
  margin: 1rem 0;
}
